.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.height280{
    height:280px;
}
body{
    background: #f4f4f4  !important;/*url('img/bg.png') repeat*/
    background-attachment: fixed !important;
}
.blog-content {
    background: #ffffff;
}
.pagination .active{
    background: #f60 !important;
    color: #ffffff !important;
}
.sidebarafter10{
    border-top: 1px solid #444444;
    padding-top: 10px
}
.fancybox{display: none;}