.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.height280{
    height:280px;
}
body{
    background: #f4f4f4 url('img/bg.png') repeat !important;
    background-attachment: fixed !important;
}
.blog-content {
    background: #ffffff;
}
.pagination .active{
    background: #f60 !important;
}