{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{asset('tinymce/tinymce.min.js')}}"></script>
    <script type="text/javascript" src="{{asset('assets/js/jquery.fancybox.js?v=2.1.5')}}"></script>
    <link rel="stylesheet" type="text/css" href="{{asset('assets/css/jquery.fancybox.css?v=2.1.5')}}" media="screen" />
    <script>

        $(function () {


            $('.iframe-btn').fancybox({
                'width': 880,
                'height': '80%',
                'type': 'iframe',
                'autoScale': false
            });

        });


    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            var $inputs = $('input[id$=_pic]') ;
            var id = $inputs.attr('id');
            var html = htmlbt(id);
            $inputs.after(html);
                    tinymce.init({selector: 'textarea[id$=_article]',
                        plugins: [
                            "advlist autolink lists link image charmap print preview anchor",
                            "searchreplace visualblocks code fullscreen ",
                            "insertdatetime media table contextmenu paste moxiemanager responsivefilemanager filemanager "
                        ],
                        toolbar: "insertfile formatselect | bold italic underline | bullist numlist outdent indent | alignleft aligncenter alignright alignjustify | link image | forecolor backcolor table",
                        autosave_ask_before_unload: false,
                        relative_urls: false,
                        document_base_url: 'http://tounsia.net',
                        // theme_advanced_fonts: "Arial=arial,helvetica,sans-serif;Arial Black=arial black;Courier New=courier new,courier,monospace;Times New Roman=times new roman;Georgia=georgia;Comic Sans MS=comic sans ms;Book Antiqua=book antiqua;Tahoma=tahoma;Trebuchet MS=trebuchet ms;",
                        max_height: 600,
                        min_height: 160,
                        link_list: Routing.generate('jsonlinks'),
                        height: 180});
        })
        function htmlbt(id){
            var html = '';
            html +=' <span class="input-group-addon">';
            html +=' <a class="iframe-btn" href="/tinymce/plugins/filemanager/dialog.php?type=2&amp;field_id='+id+'"><i class="icon-upload bigger-110"></i>image</a>';
            html +='</span>';
            return html;
        }
    </script>
{% endblock %}
