{% if object.view|length > 0 %}
<a class="btn btn-sm btn-default pieCharts" data-value="{{ object.id }}" title="Charts" href="#">
    <i class="fa fa-pie-chart" aria-hidden="true"></i>
</a>
{% endif %}