<div class="widget adwidget">
   {# <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

 <ins class="adsbygoogle"
      style="display:inline-block;width:300px;height:250px"
      data-ad-client="ca-pub-6877324570550574"
      data-ad-slot="6374230896"></ins>
 <script>
 (adsbygoogle = window.adsbygoogle || []).push({});
 </script>#}


   <!-- adaptable -->
   <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-6877324570550574"
        data-ad-slot="9868401699"
        data-ad-format="auto"></ins>
   <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
   </script>
</div>
