<div class="mag-content clearfix">
    <div class="row">
        <div class="col-md-12">
            {% if header %}
           <h1 class="pull-right"><span>Tounsia Net</span> Le portail de la femme tunisienne il vous presente des astuces beauté, cuisine ...</h1>

            {% endif %}<div class="ad728-wrapper">

                <!-- adaptable -->
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-6877324570550574"
                     data-ad-slot="9868401699"
                     data-ad-format="auto"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
        </div>
    </div>
</div>
