{% extends '::base.html.twig' %}
{% block title %}Tounsia.Net Le portail de la femme tunisienne astuce beauté & cuisine{% endblock %}
{% block descriptionMeta %}TounsiaNet : Le portail de la femme tunisienne qui fournit plusieurs recettes, astuce de beauté, santé pour simplifier la vie de la femme tunisienne{% endblock %}
{% block body %}
    <div class="white_bg">anner</div>
    <div class="container margin_60">
        <div class="main_title">
            <h2 class="nomargin_top">Top Review</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod</p>
            <hr class="divider">
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="recipes-review">
                    <div class="recipes-img">
                        <img src="images/recipe/01.jpg" alt="" />
                        <div class="favorite active"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></div>
                    </div>
                    <div class="recipes-content">
                        <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                        <div class="ratings">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <span>134</span>
                        </div>
                        <div class="col-details">
                            <ul class="details">
                                <li><img src="images/users/avatar1.jpg" class="img-profile" alt=""></li>
                                <li>
                                    <h4>Themearabia</h4>
                                    <ul class="favorites">
                                        <li><i class="fa fa-heart"></i></li>
                                        <li><span>235</span></li>
                                    </ul>
                                    <ul class="comments">
                                        <li><i class="fa fa-comments"></i></li>
                                        <li><span>36</span></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="review-final-score">
                                <h3>9.9</h3>
                                <h4>Review Score</h4>
                            </div>
                        </div>
                    </div>
                    <div class="review-box review-percentage">
                        <h2 class="review-box-header">Review Title</h2>
                        <div class="review-item">
                            <h5>Design - 10</h5><span style="width: 100%;"></span>
                        </div>
                        <div class="review-item">
                            <h5>Design - 9.1</h5><span style="width: 91%;"></span>
                        </div>
                        <div class="review-item">
                            <h5>Design - 9.4</h5><span style="width: 94%;"></span>
                        </div>
                        <div class="review-item">
                            <h5>Design - 9</h5><span style="width: 90%;"></span>
                        </div>
                        <div class="review-item">
                            <h5>Design - 9.6</h5><span style="width: 96%;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="recipes-review">
                    <div class="recipes-img">
                        <img src="images/recipe/02.jpg" alt="" />
                        <div class="favorite active"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></div>
                    </div>
                    <div class="recipes-content">
                        <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                        <div class="ratings">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <span>134</span>
                        </div>
                        <div class="col-details">
                            <ul class="details">
                                <li><img src="images/users/avatar1.jpg" class="img-profile" alt=""></li>
                                <li>
                                    <h4>Themearabia</h4>
                                    <ul class="favorites">
                                        <li><i class="fa fa-heart"></i></li>
                                        <li><span>235</span></li>
                                    </ul>
                                    <ul class="comments">
                                        <li><i class="fa fa-comments"></i></li>
                                        <li><span>36</span></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="review-final-score">
                                <h3>9.9</h3>
                                <h4>Review Score</h4>
                            </div>
                        </div>
                    </div>
                    <div class="review-box review-percentage">
                        <h2 class="review-box-header">Review Title</h2>
                        <div class="review-item">
                            <h5>Design - 10</h5><span style="width: 100%;"></span>
                        </div>
                        <div class="review-item">
                            <h5>Design - 9.1</h5><span style="width: 91%;"></span>
                        </div>
                        <div class="review-item">
                            <h5>Design - 9.4</h5><span style="width: 94%;"></span>
                        </div>
                        <div class="review-item">
                            <h5>Design - 9</h5><span style="width: 90%;"></span>
                        </div>
                        <div class="review-item">
                            <h5>Design - 9.6</h5><span style="width: 96%;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="recipes-review">
                    <div class="recipes-img">
                        <img src="images/recipe/03.jpg" alt="" />
                        <div class="favorite"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></div>
                    </div>
                    <div class="recipes-content">
                        <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                        <div class="ratings">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <span>134</span>
                        </div>
                        <div class="col-details">
                            <ul class="details">
                                <li><img src="images/users/avatar1.jpg" class="img-profile" alt=""></li>
                                <li>
                                    <h4>Themearabia</h4>
                                    <ul class="favorites">
                                        <li><i class="fa fa-heart"></i></li>
                                        <li><span>235</span></li>
                                    </ul>
                                    <ul class="comments">
                                        <li><i class="fa fa-comments"></i></li>
                                        <li><span>36</span></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="review-final-score">
                                <h3>9.9</h3>
                                <h4>Review Score</h4>
                            </div>
                        </div>
                    </div>
                    <div class="review-box review-percentage">
                        <h2 class="review-box-header">Review Title</h2>
                        <div class="review-item">
                            <h5>Design - 10</h5><span style="width: 100%;"></span>
                        </div>
                        <div class="review-item">
                            <h5>Design - 9.1</h5><span style="width: 91%;"></span>
                        </div>
                        <div class="review-item">
                            <h5>Design - 9.4</h5><span style="width: 94%;"></span>
                        </div>
                        <div class="review-item">
                            <h5>Design - 9</h5><span style="width: 90%;"></span>
                        </div>
                        <div class="review-item">
                            <h5>Design - 9.6</h5><span style="width: 96%;"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="recipes-review">
                    <div class="recipes-img">
                        <img src="images/recipe/04.jpg" alt="" />
                        <div class="favorite"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></div>
                    </div>
                    <div class="recipes-content">
                        <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                        <div class="ratings">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <span>134</span>
                        </div>
                        <div class="col-details">
                            <ul class="details">
                                <li><img src="images/users/avatar1.jpg" class="img-profile" alt=""></li>
                                <li>
                                    <h4>Themearabia</h4>
                                    <ul class="favorites">
                                        <li><i class="fa fa-heart"></i></li>
                                        <li><span>235</span></li>
                                    </ul>
                                    <ul class="comments">
                                        <li><i class="fa fa-comments"></i></li>
                                        <li><span>36</span></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="review-final-score">
                                <h3>9.9</h3>
                                <h4>Review Score</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="recipes-review">
                    <div class="recipes-img">
                        <img src="images/recipe/05.jpg" alt="" />
                        <div class="favorite"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></div>
                    </div>
                    <div class="recipes-content">
                        <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                        <div class="ratings">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <span>134</span>
                        </div>
                        <div class="col-details">
                            <ul class="details">
                                <li><img src="images/users/avatar1.jpg" class="img-profile" alt=""></li>
                                <li>
                                    <h4>Themearabia</h4>
                                    <ul class="favorites">
                                        <li><i class="fa fa-heart"></i></li>
                                        <li><span>235</span></li>
                                    </ul>
                                    <ul class="comments">
                                        <li><i class="fa fa-comments"></i></li>
                                        <li><span>36</span></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="review-final-score">
                                <h3>9.9</h3>
                                <h4>Review Score</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="recipes-review">
                    <div class="recipes-img">
                        <img src="images/recipe/06.jpg" alt="" />
                        <div class="favorite"><a href="javascript:void(0);"><i class="fa fa-heart"></i></a></div>
                    </div>
                    <div class="recipes-content">
                        <h3><a href="#">Lorem ipsum dolor sit amet</a></h3>
                        <div class="ratings">
                            <ul class="stars">
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                                <li class="active"><a href="#" class="icon"><i class="fa fa-star"></i></a></li>
                            </ul>
                            <span>134</span>
                        </div>
                        <div class="col-details">
                            <ul class="details">
                                <li><img src="images/users/avatar1.jpg" class="img-profile" alt=""></li>
                                <li>
                                    <h4>Themearabia</h4>
                                    <ul class="favorites">
                                        <li><i class="fa fa-heart"></i></li>
                                        <li><span>235</span></li>
                                    </ul>
                                    <ul class="comments">
                                        <li><i class="fa fa-comments"></i></li>
                                        <li><span>36</span></li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="review-final-score">
                                <h3>9.9</h3>
                                <h4>Review Score</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
