<div class="widget categorywidget">
    <h3 class="block-title"><span>Categories</span></h3>
    <ul>
        {% for key,item in categories %}
        <li>
            <a href="{{ path('front_category',{'locale':app.request.locale ,'slug':item.slug}) }}">{{ item.title }} <span class="count">{{ item.nbpost }}</span></a>
        </li>
        {% endfor %}

    </ul>
</div>