   <div class="col-md-9">

                            <article class="news-block">
                                <a href="#" class="overlay-link">
                                    <figure class="image-overlay">
                                        <img src="img/big-thumb/big_thumb2.jpg" alt="">
                                    </figure>
                                </a>
                                <a href="#" class="category">
                                    Gadget
                                </a>
                                <div class="news-details">
                                    <h3 class="news-title">
                                        <a href="#">
                                            5 Gadget Gifts for Father's Day
                                        </a>
                                    </h3>
                                    <p>I can't get involved! I've got work to do! It's not that I like the Empire, I hate it, but there's nothing I can do about it right now. It's such a long way from here.</p>
                                    <p class="simple-share">
                                        by <a href="#"><b>John Doe</b></a> -
                                        <span class="article-date"><i class="fa fa-clock-o"></i> 3 minutes ago</span>
                                    </p>
                                </div>
                            </article>

                            <article class="simple-post clearfix">
                                <div class="simple-thumb">
                                    <a href="#">
                                        <img src="img/small-thumb/small_thumb1.jpg" alt="">
                                    </a>
                                </div>
                                <header>
                                    <h3>
                                        <a href="#">Audio Equalizer Apps Beyond the Smartphone Sound</a>
                                    </h3>
                                    <p class="simple-share">
                                        <a href="#">Gadget</a> /
                                        by <a href="#">John Doe</a> -
                                        <span><i class="fa fa-clock-o"></i> 25 minutes ago</span>
                                    </p>
                                </header>
                            </article>

                            <article class="simple-post clearfix">
                                <div class="simple-thumb">
                                    <a href="#">
                                        <img src="img/small-thumb/small_thumb4.jpg" alt="">
                                    </a>
                                </div>
                                <header>
                                    <h3>
                                        <a href="#">Smartwatch App Concepts You Need to See</a>
                                    </h3>
                                    <p class="simple-share">
                                        <a href="#">Gadget</a> /
                                        by <a href="#">John Doe</a> -
                                        <span><i class="fa fa-clock-o"></i> 1 hour ago</span>
                                    </p>
                                </header>
                            </article>

                            <article class="simple-post clearfix">
                                <div class="simple-thumb">
                                    <a href="#">
                                        <img src="img/small-thumb/small_thumb2.jpg" alt="">
                                    </a>
                                </div>
                                <header>
                                    <h3>
                                        <a href="#">How to Buy the Right Headphones</a>
                                    </h3>
                                    <p class="simple-share">
                                        <a href="#">Gadget</a> /
                                        by <a href="#">John Doe</a> -
                                        <span><i class="fa fa-clock-o"></i> 3 hours ago</span>
                                    </p>
                                </header>
                            </article>

                            <article class="simple-post clearfix">
                                <div class="simple-thumb">
                                    <a href="#">
                                        <img src="img/small-thumb/small_thumb3.jpg" alt="">
                                    </a>
                                </div>
                                <header>
                                    <h3>
                                        <a href="#">Top 10 Best Selfie Sticks In 2015</a>
                                    </h3>
                                    <p class="simple-share">
                                        <a href="#">Gadget</a> /
                                        by <a href="#">John Doe</a> -
                                        <span><i class="fa fa-clock-o"></i> 6 hours ago</span>
                                    </p>
                                </header>
                            </article>

                        </div><!-- End mid column -->
                   