{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="panel panel-tile info-block info-block-bg-warning">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-5 ph10 text-center ">
                    <i class="fa fa-user"></i>
                </div>
                <div class="col-xs-7 pl35 prn text-center">
                    <h2>{{ nbposts }}</h2>
                    <h6>Mes Articles</h6>

                </div>
                <div class="col-sm-12">
                    <div class="info-block-stat">
                        <span>{{ user }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}