{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}
{% block block %}
    <div class="box box-success">

        <div class="box-header">
            <h3 class="box-title"> {{ title }}</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>

                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>

        <div class="box-body">
            <div id="week-chart" style="height: 225px;"></div>
        </div>

    </div>
<script>
    $(function () {
        var data = [];
        {% set i =0 %}
        {% for key,item in final %}
        data.push([{{ key }}, {{ item }}]);
        {% set i = i+1 %}
        {% endfor %}
        var line_data1 = {
            data: data,
            color: "#f39c12"
        };
        $.plot("#week-chart", [line_data1], {
            grid: {
                hoverable: true,
                borderColor: "#f3f3f3",
                borderWidth: 1,
                tickColor: "#f3f3f3"
            },
            series: {
                shadowSize: 0,
                lines: {
                    show: true
                },
                points: {
                    show: true
                }
            },
            lines: {
                fill: false,
                color: [ "#f56954"]
            },
            yaxis: {
                show: true,
            },
            xaxis: {
                show: true
            }
        });
      
    });
</script>
{% endblock %}