{% extends 'SonataBlockBundle:Block:block_base.html.twig' %}
{% block block %}

    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-arrow-graph-up-right"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Page par visite</span>
                    <span class="info-box-number">{{ final }} <small>pages</small></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->


        <!-- /.col -->
    </div>
{% endblock %}